[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jinja2 = "*"
matplotlib = "*"
pillow = "*"
numpy = "*"
shapely = "*"
scipy = "*"
pyeditdistance = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
